/.project
/.dub
/__test__library__
/dub-registry
/dub-registry-test-library
*.exe
log.txt
settings.json

.eslintcache

# see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
/.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
