/* reset all attribute to canonical defaults */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/********************/
/* GENERAL          */
/********************/

body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 10pt;
	background-color: #fff;
}

p  {
	margin-bottom: 6pt;
}

code {
	font-family: 'Courier New', monospace;
	background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
	padding: 0 2pt;
}

pre.code {
	border: 1px solid #bbb;
	padding: 3pt;
	background-color: #F0F0F0;
	font-family: 'Courier New', monospace;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

/********************/
/* HEADER           */
/********************/

div#header {
	padding: 6pt;
	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image:    -moz-linear-gradient(top, #fff, #eee);
	background-image:     -ms-linear-gradient(top, #fff, #eee);
	background-image:      -o-linear-gradient(top, #fff, #eee);
	border-bottom: 1px solid #ddd;
}

div#header #logo {
	margin-left: 6pt;
	vertical-align: middle;
}

a.blind {
	text-decoration: none;
}

p.error {
	color: red;
}

p.warn {
	color: #ffa000;
}

#profile {
	margin-right: 6pt;
	text-align: right;
	float: right;
}

#profile a {
	color: black;
}

#title {
	display: inline-block;
	margin-left: 9pt;
	padding-bottom: 3pt;
	vertical-align: middle;
}

/********************/
/* CONTENT          */
/********************/

div#content {
	padding: 12pt;
	clear: both;
}

h1 {
	font-size: 18pt;
}

h2 {
	margin-top: 18pt;
	margin-bottom: 9pt;
	font-size: 120%;
}

#content ul {
	list-style: disc inside;	
}

#content ul li {
	margin-bottom: 6pt;
}

#content table {
	width: 100%;
	margin: 9pt 0pt;
}

#content td, #content th {
	border: 1px dotted #aaa;
	padding: 3pt;
}
#content th {
	background-color: #666;
	color: #eee;
	text-align: left;
	font-weight: bold;
}

#content table.form { width: auto; }
#content table.form th { border: none; background: none; }
#content table.form td { border: none; }


/********************/
/* FOOTER           */
/********************/

nav#footer {
	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #eee, #fff);
	background-image:    -moz-linear-gradient(top, #eee, #fff);
	background-image:     -ms-linear-gradient(top, #eee, #fff);
	background-image:      -o-linear-gradient(top, #eee, #fff);
	border-top: 1px solid #ddd;
}

nav#footer li {
	margin: 0;
	padding: 6pt 12pt;
	display: inline-block;
	border-right: 1px solid #ddd;
}