/* reset all attribute to canonical defaults */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/********************/
/* GENERAL          */
/********************/

body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 10pt;
	line-height: 12pt;
	background-color: #fff;
}

p  {
	margin-bottom: 6pt;
}

strong { font-weight: bold; }
em { font-style: italic; }

code {
	font-family: 'Courier New', monospace;
}

pre.code, pre > code {
	display: block;
	border: 1px solid #e0e0e0;
	margin: 6pt 0;
	padding: 3pt;
	background-color: #F4F4F4;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

dd { margin-left: 18pt; margin-top: 3pt; margin-bottom: 6pt; }

.nobreak { white-space: nowrap; }

.dull { color: #888; font-style: italic; }

/********************/
/* HEADER           */
/********************/

a.blind {
	text-decoration: none;
}

p.error, li.error, span.error {
	color: red;
}

p.warn {
	color: #ffa000;
}

#profile {
	margin-right: 6pt;
	text-align: right;
	float: right;
}

#profile a {
	color: black;
}

#title {
	display: inline-block;
	margin-left: 8pt;
	vertical-align: bottom;
}

#title > h1 {
	margin-top: 6pt;
}


/********************/
/* CONTENT          */
/********************/

div#content {
	padding: 12pt;
	clear: both;
}

h1 {
	font-size: 18pt;
}

h2 {
	margin-top: 24pt;
	margin-bottom: 12pt;
	font-size: 150%;
}

h3 {
	margin-top: 18pt;
	margin-bottom: 9pt;
	font-size: 120%;
	font-style: italic;
}

#content ul {
	list-style: circle outside;
	margin-left: 18pt;
}

#content ul li {
	margin-bottom: 3pt;
}

#content table {
	width: 100%;
	margin: 9pt 0pt;
}

#content td, #content th {
	border: 1px dotted #98312A;
	padding: 3pt;
}
#content th {
	background-color: #B03931;
	color: #eee;
	text-align: left;
	font-weight: bold;
}

/* sortable table headers */
#content th a { color: #eee; text-decoration: none; }
#content th a:hover { text-decoration: underline; }
#content th.selected:after { content: " ↕"; }

#content table.form { width: auto; }
#content table.form th { border: none; background: none; }
#content table.form td { border: none; }

.category-icon { width: 16px; height: 16px; vertical-align: middle; }

/*section.repositoryReadme {
	margin-top: 30pt;
	padding: 10pt;
	background-color: #F8F8F8;
	border: 1px solid #ddd;
}*/


@media (min-width: 600pt) {
	div#content { padding: 12pt 10%; }
}


/********************/
/* Buttons          */
/********************/

button {
    color: #333;
    background: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 0.3em 0.6em;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

/*********************/
/* PACKAGE CLIPBOARD */
/*********************/

.clipboard-pkg {
    padding-top: 5px;
}

.clipboard-pkg-title {
    font-weight: bold;
    display: inline-block;
    width: 60px;
}

.clipboard-pkg-row input {
    width: 280px;
}

/********************/
/* COPY SHIELDS     */
/********************/

#copy-shields div {
    padding-left: 10px;
}

#copy-shields .img-wrapper {
    width: 140px;
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
}

#copy-shields input {
    width: 280px;
}
