/* reset all attribute to canonical defaults */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/********************/
/* GENERAL          */
/********************/

body {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 10pt;
	line-height: 12pt;
	background-color: #fff;
}

p  {
	margin-bottom: 6pt;
}

strong { font-weight: bold; }
em { font-style: italic; }

code {
	border: 1px solid #eee;
	padding: 1pt 2pt 0.5pt 2pt;
}

pre.code, pre > code {
	display: block;
	border: 1px solid #e0e0e0;
	margin: 6pt 0;
	padding: 3pt;
	background-color: #F4F4F4;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

dd { margin-left: 18pt; margin-top: 3pt; margin-bottom: 6pt; }

.nobreak { white-space: nowrap; }

.dull { color: #888; font-style: italic; }

/********************/
/* HEADER           */
/********************/

a.blind {
	text-decoration: none;
}

p.error, li.error, span.error {
	color: red;
}

p > span.repoError {
	color: red;
	display: none;
}

p > input:invalid + span.repoError {
	display: block;
}

p.warn {
	color: #ffa000;
}

#profile {
	margin-right: 6pt;
	text-align: right;
	float: right;
}

#profile a {
	color: black;
}

#title {
	display: inline-block;
	margin-left: 8pt;
	vertical-align: bottom;
}

#title > h1 {
	margin-top: 6pt;
}


/********************/
/* CONTENT          */
/********************/

div#content {
	padding: 0.01em;
	clear: both;
}

h1 {
	font-size: 18pt;
}

h2 {
	margin-top: 24pt;
	margin-bottom: 12pt;
	font-size: 150%;
}

h3 {
	margin-top: 18pt;
	margin-bottom: 9pt;
	font-size: 120%;
	font-style: italic;
}

#content ul {
	list-style: circle outside;
	margin-left: 18pt;
}

#content ul li {
	margin-bottom: 3pt;
}

#content table {
	width: 100%;
	margin: 9pt 0pt;
}

#content td, #content th {
	border: 1px dotted #98312A;
	padding: 3pt;
}
#content th {
	background-color: #B03931;
	color: #eee;
	text-align: left;
	font-weight: bold;
}

/* sortable table headers */
#content th a { color: #eee; text-decoration: none; }
#content th a:hover { text-decoration: underline; }
#content th.selected:after { content: " ↕"; }

#content table.form { width: auto; }
#content table.form th { border: none; background: none; }
#content table.form td { border: none; }

.category-icon {
	display: inline-block;
	width: 16px;
	vertical-align: middle;
	font-family: "fontello";
	text-align: center;
	margin-right: 4px;
	color: #664949;
}

.category-icon.application {
	color: #505692;
}

.subtabsHeader {
	margin-top: 1em;
	border-bottom: 1px #98312A solid;
	padding: 0 10pt;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: visible;
}

.subtabsHeader > a.tab {
	text-decoration: none;
	color: white;
}

.subtabsHeader > .tab {
	display: inline-block;
	padding: 10pt 15pt;
	background-color: #B03931;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-right: 4pt;
	vertical-align: bottom;

	margin-top: 5pt;
	padding-bottom: 5pt;
	transition: margin-top 0.1s ease-out, padding-bottom 0.1s ease-out, background-color 0.1s ease-out;
}

.subtabsHeader > .tab.active, .subtabsHeader > .tab:hover, .subtabsHeader > .tab:focus {
	margin-top: 0;
	padding-bottom: 10pt;
	background-color: #98312A;
}

.subtabsHeader > .tab.external::after {
	content: " \f08e"; /* link-ext */
	font-family: fontello;
}

.subtabsHeader > .tab::after {
	padding-left: 0.5em;
	font-family: "fontello";
}

.subtabsHeader + div.repositoryReadme, section.pkgconfig {
	margin-top: 0;
	padding: 10pt;
	background-color: #F8F8F8;
	border: 1px solid #ddd;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 600px) {
	.subtabsHeader > .tab {
		display: block;
		padding: 1em;
		border-radius: 0;
		margin-right: 0;
		margin-top: 0;
	}

	.subtabsHeader > .tab.active, .subtabsHeader > .tab:hover, .subtabsHeader > .tab:focus {
		padding: 1em;
		background-color: #98312A;
	}

	.subtabsHeader {
		overflow: inherit;
		border: none;
		padding: 0;
	}

	.subtabsHeader > .tab:first-child {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.subtabsHeader > .tab:last-child {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.subtabsHeader > .tab:not(.active) {
		border: 1px #98312A solid;
	}

	.subtabsHeader + div.repositoryReadme, section.pkgconfig {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		margin-top: 10pt;
		border-top: 1px solid #ddd;
	}
}

#content ul.pageNav.perPage:before {
	content: "Per Page: ";
	display: inline;
}
#content ul.pageNav {
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.pageNav li {
	display: inline-block;
	margin-right: 0.4em;
}
ul.pageNav li.selected {
	font-weight: bold;
	border: 1px solid #ddd;
	background-color: #f0f0f0;
	padding: 0 2pt;
}

div#content {
	margin: 0 auto;
	margin-top: 1em;
}

@media (max-width: 768px) {
	div#content, div#top > .helper { margin: 0 1em; }
}

@media (min-width: 768px) {
	div#content, div#top > .helper { width: 740px; }
}

@media (min-width: 992px) {
	div#content, div#top > .helper { width: 960px; }
}

@media (min-width: 1200px) {
	div#content, div#top > .helper { width: 1160px; }
}

/********************/
/* Buttons          */
/********************/

button {
	color: #333;
	background: white;
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 0.3em 0.6em;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

button.primary {
	color: white;
	font-weight: bold;
	background: #B03931;
	border-color: #98312A;
}

button.primary:hover, button.primary:focus {
	background: #742620;
	border-color: #943029;
}

/*********************/
/* PACKAGE CLIPBOARD */
/*********************/

.clipboard-pkg {
	padding-top: 5px;
}

.clipboard-pkg-row input {
	width: 280px;
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 4px;
	margin: 2px;
}

/********************/
/* COPY SHIELDS     */
/********************/

#copy-shields div {
	padding-left: 10px;
}

#copy-shields .img-wrapper {
	width: 140px;
	display: inline-block;
	padding-left: 5px;
	vertical-align: middle;
}

#copy-shields input {
	width: 280px;
}

/********************/
/* MANUAL CLIPBOARD */
/********************/

.clipboard-manual {
	margin: 2em 0;
}

.clipboard-manual .clipboard-pkg-title {
	display: block;
	font-weight: bold;
}

.clipboard-manual .clipboard-pkg-row {
	margin-bottom: 0.5em;
}

@media only screen and (min-width: 54em) {
	div.main {
		float: left;
		position: relative;
		width: 70%;
	}

	div.packageInfo {
		float: right;
		width: 25%;
	}
}

img.packageLogo {
	float: right;
	max-width: 150px;
	max-height: 150px;
	margin: 0 0 1em 1em;
}

@media only screen and (max-width: 480px) {
	img.packageLogo {
		display: block;
		float: none;
		max-width: 100%;
		max-height: 220px;
		margin: 1em auto;
	}
}

div.packageInfo {
	text-align: left; /* override justify */
}

div.packageInfo > *:first-child {
	margin-top: 0 !important;
}

div.packageInfo > ul {
	margin-left: 0 !important;
	margin-bottom: 1.5em;
}

div.packageInfo > * {
	color: rgba(0,0,0,0.7);
	line-height: 2em;
}

div.packageInfo > p,
div#versions,
div#versions > p {
	margin-top: 0 !important;
	margin-bottom: 0.5em !important;
}

ul.unmarkedList > li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.unmarkedList > li {
	list-style: none;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0 !important;
}

ul.unmarkedList > li:last-child {
	border-bottom: 0;
}

ul.unmarkedList > li:hover,
.wrap {
	overflow: visible !important;
	text-overflow: inherit !important;
	white-space: normal !important;
}

.wrap {
	line-height: 1.5em !important;
}

.wrap span {
	white-space: nowrap;
}

div.packageInfo > dl > dt {
	font-weight: bold;
}

div.packageInfo > dl > dt:not(:first-child) {
	padding-top: 0.5em;
}

div.packageInfo > dl > dd {
	padding: 0.25em 0 0.25em 0.5em;
	margin: 0;
	margin-bottom: 0.2em;
}

div.packageInfo > dl > dd > ul.authors {
	margin-left: 0 !important;
	padding: 0;
}

div.packageInfo > dl > dd > ul.authors > li {
	margin-bottom: 4pt;
}

div.packageInfo > .actions {
	margin-bottom: 2em;
}

div.packageInfo > .actions > .detail {
	color: rgba(0, 0, 0, 0.54);
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

div.packageInfo > .actions > .detail:hover {
	text-overflow: unset;
	overflow: visible;
	white-space: normal;
}

div.packageInfo > .actions > a > button {
	padding: 0.7em 0;
	width: 100%;
	margin-bottom: 5pt;
}

div.packageInfo > .actions > a + p.detail {
	margin-top: 0;
	line-height: 1em;
}

#repository a:before {
	font-family: "fontello";
	color: #888;
	content: "\f121";
	padding-right: 0.4em;
}
#repository a.bitbucket:before { content: "\f171"; }
#repository a.github:before { content: "\f09b"; }
#repository a.gitlab:before { content: "\f296"; }

#stats ul li {
	line-height: 1em;
	border-style: none;
	margin-bottom: 0;
}
#stats ul {
	margin: 0;
}

#versions strong {
	margin: 0;
}
#versions table,
#showAll{
	line-height: 1em;
	margin: 0;
	font-family: monospace;
}

#versions td {
	padding: 0.5em 0;
	width: 1%;
	border: none;
	border-bottom: 1px solid rgb(230,230,230);
}

.badge {
	background-color: #B04A43;
	color: #FFF;
	font-size: 50%;
	border-radius: 2px;
	vertical-align: 30%;
	padding: 0.1em 0.3em;
}

.light { opacity: 0.8; }

.inputForm {
	margin: 0 auto 0 0;
	max-width: 30em;
	text-align: left;
}

.inputForm h1 p {
	font-size: 0.5em;
}

.inputForm select,
.inputForm input {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #000;
	border-radius: 2px;
}

.inputForm label {
	font-weight: bold;
}

.inputForm form p {
	margin-bottom: 1em;
}

.inputForm button {
	padding: 1em;
	margin-top: 1em;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.inputForm button:disabled {
	background-color: #888;
	border-color: #666;
	cursor: default;
}

.inputForm button.danger {
	background-color: #943029;
	border-color: #872c25;
	padding: 0.5em;
	margin-top: 0.5em;
}

.redAlert {
	margin: 0.5em 0;
	border-radius: 2px;
	padding: 1em;
	color: #a94442;
	border: 1px solid #ebccd1;
}

.packageList .error {
	color: #a94442;
}

@media (max-width: 992px) {
	.packageList .row {
		padding: 1em 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	.packageList .row .cell:first-child {
		font-size: 1.3em;
	}
}

@media (min-width: 992px) {
	.packageList { display: table; }
	.packageList .row {
		display: table-row;
	}
	.packageList .row .cell:first-child {
		padding-right: 1em;
		white-space: nowrap;
	}
	.packageList .row .cell {
		display: table-cell;
		padding: 0.3em 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
}

/********************/
/* PACKAGE ADMIN    */
/********************/

section.pkgconfig:after
{
	content: "";
	display: block;
	clear: both;
}

section.pkgconfig hr
{
	border: none;
	height: 1px;
	background-color: #ddd;
	margin: 1em 0;
}

section.pkgconfig#tab-general .sideways
{
	display: flex;
	flex-direction: row;
}

section.pkgconfig#tab-general aside
{
	flex-shrink: 0;
	flex-grow: 0;

	display: block;
	width: 100%;
	max-width: 256px;
	float: left;
	margin-right: 1em;

	padding-right: 1em;
	border-right: 1px solid #ddd;
}

section.pkgconfig#tab-general aside .inputForm
{
	position: relative;
}

section.pkgconfig#tab-general aside .deleteLogo
{
	position: absolute;
	top: 2pt;
	right: 2pt;
	width: 2rem;
	height: 2rem;
	padding: 0;
	margin: 0;
}

section.pkgconfig#tab-general aside .deleteLogo button
{
	width: 2rem;
	height: 2rem;
	padding: 0;
	margin: 0;
	border-radius: 1.5em;
	font-family: "fontello";
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.05s ease-out;
}

section.pkgconfig#tab-general aside .deleteLogo button:hover
{
	background-color: #F47069;
}

section.pkgconfig#tab-general section.contents
{
	flex-shrink: 1;
	flex-grow: 1;

	display: block;
	float: left;
}

section.pkgconfig#tab-general img.packageLogo {
	float: none;
	display: block;
	outline: 1px solid rgba(0, 0, 0, 0.5);
	max-width: 100%;
	max-height: 256px;
	margin: 0 auto;
}

section.pkgconfig h3 {
	margin: 1em 0 0.5em 0;
	font-style: normal;
}

section.pkgconfig.js h2:first-child + h3,
section.pkgconfig section > h3:first-child,
section.pkgconfig section > :first-child > h3:first-child,
section.pkgconfig hr + h3,
section.pkgconfig hr + * > h3:first-child {
	margin-top: 0;
}

@media (max-width: 600px) {
	section.pkgconfig#tab-general .sideways {
		flex-direction: column;
	}

	section.pkgconfig#tab-general aside {
		padding-right: 0;
		border-right: none;
	}

	section.pkgconfig#tab-general .sideways > * {
		float: none;
		margin: 1em auto;
	}
}

/**
Front page package item listing for
responsive "Most popular" / "Recently added" / "Newly added" section
*/

#front-packages {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (min-width: 750px) {
	#front-packages > div {
		padding: 4px;
	}
	#front-packages .front-page-package-list {
		width: 350px;
	}
}

#front-packages .front-page-package-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@media (max-width: 750px) {
	#front-packages .front-page-package-list .dub-package-card {
		width: 100%;
	}
	#front-packages > div {
		max-width: 95%;
	}
}

#top-scored > a, #top-added > a, #top-updated > a {
	font-size: 1.4em;
	text-decoration: none;
	padding-bottom: 10px;
	display: block;
}

/**
Individual DUB package CSS definitions
*/

#front-packages .dub-package-card {
	border-radius: 5px;
	box-shadow: 0 2px 5px #d7d3d1;
	padding: 14px;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#front-packages .dub-package-logo,
#front-packages .dub-package-name,
#front-packages .dub-package-version {
	display: inline-block;
}
#front-packages .dub-package-name {
	font-size: 1.3em;
}
#front-packages .dub-package-version {
	background-color: #B03931;
	border-radius: 2px;
	color: white;
	font-size: 0.8em;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 5px;
}

#front-packages .dub-package-logo {
	float: left;
	padding-right: 10px;
	max-height: 80px;
	max-width: 80px;
}
#front-packages .dub-package-logo img {
	max-width: 64px;
	max-height: 64px;
}

#front-packages .dub-package-second-line {
	font-size: 0.8em;
	color: grey;
	border-top: 1px solid #80808075;
    margin-top: 5px;
    padding-top: 5px;
}

#front-packages .dub-package-desc {
	height: 4.3em;
	overflow: hidden;
}

#front-packages .dub-package-date {
	display: inline-block;
}
#front-packages .dub-package-author {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 150px;
	font-size: 0.8em;
	color: grey;
}

#top-updated .dub-package-author,
#top-added .dub-package-author {
	float: right;
}
#front-view-all-btn {
	text-align: right;
}
