/*
Copied __without__ modifications from dlang.org

-- Colors --

Greys:

white
#FCFCFC
#F5F5F5
#E6E6E6
#CCC
#ADADAD
#999
#555
#333 - main text

Reds:

#B03931 - our main red
#742620 - focus/hover

#D8645E - on dark background
#F47069 - focus/hover on dark background

#98312A
#943029

-- Font Sizes --

Keep the number of different font sizes low. The different heading levels
(h1, ... h6) get specific sizes. Other than that, try to use 'small' and
'large'.

-- Misc --

border-radius: always 4px

*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);

body, .d_decl .quickindex
{
    font-family: "Roboto Slab", sans-serif;
}

pre, code, .tt, .d_inlinecode, td.param_id, .CodeMirror pre, .d_decl
{
    font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}
pre, .CodeMirror pre, code
{
    font-size: 90%;
}

body
{
    background: white;
    color: #333;
    font-size: 93.75%;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

#top > .helper,
body > .container,
body#Home #content #tools > div,
body#Home #content > .intro > div,
body#Home #content > .more
{
    margin: auto;
    max-width: 76em;
    padding: 0 1em;
}

/* top nav bar */
#top
{
    background: #B03931;
    border-bottom: 1px #98312A solid;
    position: relative;
}

#top > .helper > .helper
{
    display: table;
    width: 100%;
}

#top #cssmenu,
#top .search-container
{
    display: table-cell;
    vertical-align: middle;
}

#top .search-container
{
    width: 0; /* shrink to content size */
}

#top .logo
{
    display: block;
    float: left;
    margin-left: -5.4em;
    margin-right: -4em;
    padding-top: 1px;
}

#top img#logo
{
    height: 2.533em;
    vertical-align: middle;
    width: 13.69em;
}

#top a.hamburger
{
    display: none;
}

#top a
{
    color: white;
    text-decoration: none;
}

#top a:hover,
#top #cssmenu li.open > a,
#top #cssmenu li.active > a
{
    background: #98312A;
}

#top .expand-container
{
    position: relative;
}

/* main menu */

#top #cssmenu
{
    width: 100%; /* take all available space */
}

/* Hide expandable sections by default in #cssmenu. They have fallback URLs. */
#top #cssmenu .expand-container > *
{
    display: none;
}
#top #cssmenu .expand-container.open > *,
#top #cssmenu .expand-container > .expand-toggle
{
    display: block;
}

#top #cssmenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#top #cssmenu a, #top .search-container a
{
    display: block;
    height: 1.4em; /* Not sure why, but without this the expandable items would
        get half a pixel taller than the others. */
    padding: 0.6em 1em;
    position: relative;
    white-space: nowrap;
}

#top #cssmenu > ul > li
{
    float: left;
}

#top #cssmenu > ul > li > ul
{
    background: #B03931;
    border: 1px solid #98312A;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);

    position: absolute;
    z-index: 5;
}

#top #cssmenu > ul > li > ul > li > a
{
    font-size: small;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 2em;
}

#top #cssmenu > ul > li > ul > li:first-child > a
{
    padding-top: 0.6em;
}

#top #cssmenu > ul > li > ul > li:last-child > a
{
    padding-bottom: 0.6em;
}

/* search box */

#top .search-container.expand-container .expand-toggle
{
    display: none;
}
#top .search-container.expand-container .expand-toggle::after
{
    content: "\f002  \f0d7"; /* f002 = search; f0d7 = caret down */
    font-family: FontAwesome;
}

#top .search-container.expand-container .expand-toggle span
{
    display: none;
}

#top #search-box
{
    display: block; /* Don't hide even though it's in a .expand-container. */
    padding-left: 1em;
}

div#search-box form, span#search-query, span#search-dropdown, span#search-submit
{
    border: 1px none #CCC;
}

div#search-box form
{
    background: white;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    border-style: solid;
    display: inline-block;
    font-size: small;
    margin: 0;
    vertical-align: middle;
    white-space: nowrap;
}

span#search-query,
span#search-dropdown, span#search-dropdown > .helper,
span#search-submit
{
    display: inline-block;
    height: 2em;
    line-height: 1.3;
    vertical-align: top;
}

span#search-query
{
    width: 8em;
}

span#search-query input, span#search-dropdown select, span#search-submit button
{
    background: transparent;
    color: #333;
    border: none;
    font-size: small;
    margin: 0;
    padding: 0 0.5em;
    width: 100%;
    height: 100%;
    outline: none;
}

span#search-dropdown > .helper
{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 8em;
}

span#search-dropdown > .helper::after
{
    content: "\f0d7"; /* caret down */
    font-family: FontAwesome;
    position: absolute;
    width: 1em;
    line-height: 1em;
    top: 0.5em;
    right: 0.2em;
}

span#search-dropdown select
{
    padding-right: 7.5em;
    position: relative;
    text-overflow: ellipsis;
    width: 14em; /* Pushing the native dropdown arrow into invisibility. */
    z-index: 1;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
span#search-dropdown select::-ms-expand /* IE */
{
    display: none;
}

span#search-submit
{
    background: #E6E6E6;
    border-left-style: solid;
    line-height: 1.2em;
    width: 3em;
}

span#search-submit button
{
    color: #555;
}

span#search-submit button:active
{
    position: relative;
    top: 0.1em;
}

span#search-submit span /* hide 'go' */
{
    display: none;
}

#content
{
    padding-bottom: 1em;
    text-align: justify;
}

/*  This is a CSS hack to only target Blink based browsers
    Targets Chrome 28 and later and Opera 14 and later
*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    #content
    {
        /* because Blink based browsers don't support hyphens */
        text-align: left;
    }
}

.expand-container > .expand-toggle::after
{
    content: " \f0d7"; /* caret down */
    font-family: FontAwesome;
}
body.have-javascript .expand-container.open > .expand-toggle::after
{
    content: " \f0d8"; /* caret up */
}

body.have-javascript .expand-container > *
{
    display: none;
}

body.have-javascript .expand-container.open > *,
body.have-javascript .expand-container > .expand-toggle
{
    display: block;
}

a.btn
{
    color: #333;
    background: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 0.3em 0.6em;
    display: inline-block;
    text-decoration: none;
}

a.btn:hover
{
    background-color: #E6E6E6;
    border-color: #ADADAD;
    color: #333;
}

/* replaces <big> tag */
em.big
{
    font-style: normal;
    font-size: larger;
}

/* replaces <tt> tag */
em.tt
{
    font-style: normal;
}

/* replaces <u> tag */
em.u
{
    font-style: normal;
    text-decoration: underline;
}

tr:last-child
{
    border-bottom: none;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin: 2em 0 1em;
}

h1
{
    font-size: 2.0em;
    margin-top: 0;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.35em;
}

h4
{
    font-size: 1.15em;
}

form
{
    margin: 0;
}

blockquote
{
    background-color: #e5e5e5;
    display: block;
    padding: 0.25em 1em;
    margin: 1em 2em;
}

blockquote p:before
{
    content: "\201C";
    color: #bacaca;
    display: block;
    font-size: 700%;
    width: 50px;
    height: 0;
    margin-left: -0.5em;
    line-height: 0.8em;
}

blockquote p
{
    margin: 0;
    font-style: italic;
}

blockquote cite
{
    display: block;
    text-align: right;
}

/* pre.prettyprint and div.prototype come from prettyprint.js */
pre, pre.prettyprint, div.prototype
{
    background: white;
    border-radius: 4px;
    padding: 1ex;
    margin: 1em 0 1em 0;
    line-height: normal;
    border: 1px solid #ccc;
    width: auto;
}
pre
{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

dd, .d_decl_dd
{
    margin: 0;
    margin-bottom: 2em;
    padding: 1ex;
    padding-left: 2em;
}

table
{
    border: solid #333;
    border-width: 2px 0;
    border-collapse: collapse;
}

table tr
{
    border: none;
}

table td, table th, table caption
{
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
}

table td
{
    border: none;
    border-bottom: 1px solid #E6E6E6;
    text-align: left;
}

table th
{
    border: none;
    border-bottom: 1px solid #333;
}

table td:not(:last-child), table th:not(:last-child)
{
    padding-right: 1em;
}

hr
{
    margin: 2em 0;
}

a, .question, .expand-toggle
{
    color: #B03931;
    cursor: pointer;
}

a:hover, .question:hover, .expand-toggle:hover
{
    color: #742620;
}
img
{
    border: 0;
}

body#Home > .container
{
    max-width: none;
    padding: 0;
}

body#Home #content #tools,
body#Home #content > .intro
{
    background: #F5F5F5;
}

body#Home #content > h1
{
    margin: 0;
}

body#Home #content > .intro
{
    padding-bottom: 1em;
    border-bottom: 1px solid #E6E6E6;
}

body#Home #content > .intro > div > div
{
    display: table;
    width: 100%;
}

body#Home #content > .intro > div > div > *
{
    display: table-cell;
}

body#Home #content > .intro .pitch
{
    font-size: large;
    font-weight: 300;
    margin: auto;
    width: 21em;
}

body#Home #content > .intro .download
{
    margin-top: 3em;
    text-align: center;
}

body#Home #content > .intro .download .btn
{
    margin-bottom: 0.3em;
}

body#Home #content > .intro #your-code-here
{
    padding-left: 1em;
    position: relative;
    width: 32em;
}

body#Home #content > .intro #your-code-here .tip
{
    position: absolute;
    top: 0.1em;
    right: 0.3em;
    z-index: 1;
}

body#Home #content > .intro #your-code-here pre
{
    margin: 0;
}

body#Home div#news
{
    float: right;
    width: 252px;
}

body#Home div#forum-summary
{
    color: white;
    width: 100%;
    margin-right: 1em;
}

body#Home div#forum-summary > iframe
{
    border: 0;
    width: 100%;
    height: 210px;
}

body#Home .more .boxes, body#Home .more .whyd
{
    margin-right: 252px; /* prevent overlapping with #news */
    padding-right: 4em;
}

body#Home .boxes .item .big-icon
{
    padding-right: 0.5em;
}

body#Home .whyd .section
{
    margin-bottom: 1.5em;
    border-left: 5px solid #B03931;
    border-radius: 4px;
}
body#Home .whyd .section > div
{
    border: 1px solid #E6E6E6;
    border-left: none;
    border-radius: 4px;
    padding: 1.5em;
}
body#Home .whyd .section > div > *:first-child
{
    margin-top: 0;
}
body#Home .whyd .section > div > *:last-child
{
    margin-bottom: 0;
}

body#Menu #content li.expand-container a::after
{
    content: "";
}

body#Menu #content li.expand-container ul
{
    display: block;
}

div#copyright
{
    margin-top: 5em;
    text-align: center;
}


@media only screen and (min-width: 66em)
{
    pre
    {
        overflow: auto;
    }
}

/* Narrow layout stage 1: dropdown search, dropdown subnav */
@media only screen and (max-width: 66em)
{
    #top .search-container.expand-container .expand-toggle
    {
        display: block;
    }

    #top .expand-container > #search-box
    {
        background: #B03931;
        border: 1px solid #98312A;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: none;
        padding: 0.6em;
        position: absolute;
        top: 100%;
        right: 0;
        width: auto;
        z-index: 5;
    }

    #top .expand-container.open > #search-box
    {
        display: block;
    }

    body#Home #content > .intro .pitch
    {
        width: 15em;
    }
}

/* Narrow layout stage 2: hamburger menu, forum/twitter widgets disappear from
the home page, intro pitch and your-code-here layed out vertically */
@media only screen and (max-width:54em)
{
    #top > .helper
    {
        padding: 0;
    }

    /* lay out navigation vertically */

    #top #cssmenu, #top #search-box
    {
        display: block;
    }

    #top .logo
    {
        width: auto;
    }

    #top .logo > a
    {
        background: transparent; /* override :hover background change */
    }

    #top #cssmenu, #top .search-container
    {
        display: none;
    }

    #top .expand-container.open #cssmenu,
    #top .expand-container .search-container
    {
        display: block;
    }

    #top #cssmenu
    {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid #943029;
        clear: both;
    }
    #top #cssmenu > ul
    {
        border-bottom: 1px solid #943029;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    #top .search-container
    {
        padding: 0.6em 1em;
        width: auto;
    }

    #top .search-container.expand-container .expand-toggle
    {
        display: none;
    }

    #top .expand-container > #search-box
    {
        border: 0;
        display: block;
        padding: 0;
        position: static;
    }

    #top .expand-container .search-container
    {
        display: none;
    }

    #top .expand-container.open .search-container
    {
        display: block;
    }

    #top #search-box form
    {
        display: table;
        width: 100%;
    }

    #top #search-query, #top #search-dropdown, #top #search-submit
    {
        display: table-cell;
    }

    #top #search-query
    {
        width: auto;
    }

    #top #search-dropdown
    {
        width: 0; /* shrink to content size */
    }

    #top #cssmenu > ul > li
    {
        float: none;
    }

    #top #cssmenu > ul > li.expand-container.open > ul
    {
        border: none;

        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        position: static;
    }

    #top #cssmenu > ul > li.expand-container.open > ul > li > a
    {
        padding-left: 2em;
    }

    /* menu button */

    #top a.hamburger
    {
        display: inline;
        float: right;
        font-size: 2em;
        height: 1em;
        line-height: 1;
        padding: 0.15em 1em;
    }
    #top a.hamburger span
    {
        display: none;
    }
    #top a.hamburger::after
    {
        content: "\f0c9"; /* bars */
        font-family: FontAwesome;
    }
}
