
span#search-query {
    width: 11.5em;
}

table {
    border: 0px;
}

#content th {
	border-right: 1px solid #98312A;
}

/* fixup weird dlang logo */
#top .logo {
	float: none;
	margin-right: 0;
	display: inline-block;
	margin-left: -70px;
}

/* let dlang header have same padding as content */

@media (min-width: 600pt) {
    #top > .helper {
        margin: 0 auto;
        max-width: initial;
    }
}

#top img#logo {
	height: 40px;
	width: initial;
}

/* no background highlight for the logo */
#top .logo > a:hover {
	background: inherit;
}


h2 {
    margin-top: 1.5em;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2') format('woff2'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* minimal font awesome CSS */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 fontello;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-search:before {
  content: "\f002";
}

/* Fontello icons */

.icon-category-desktop:before { content: '\e800'; }
.icon-category-editor:before { content: '\e801'; }
.icon-category-web:before { content: '\e802'; }
.icon-category-audio:before { content: '\e803'; }
.icon-category-network:before { content: '\e804'; }
.icon-category-photo:before { content: '\e805'; }
.icon-category-productivity:before { content: '\e806'; }
.icon-category-unknown:before { content: '\e807'; }
.icon-category-video:before { content: '\e808'; }
.icon-category-i18n:before { content: '\e809'; }
.icon-category-library:before { content: '\e80a'; }
.icon-category-graphics:before { content: '\e80b'; }
.icon-category-generic:before { content: '\e80c'; }
.icon-category-auth:before { content: '\e80d'; }
.icon-category-cpu:before { content: '\e80e'; }
.icon-category-gc:before { content: '\e80f'; }
.icon-category-mem:before { content: '\e810'; }
.icon-category-data:before { content: '\e811'; }
.icon-category-std:before { content: '\e812'; }
.icon-category-mobile:before { content: '\e813'; }
.icon-category-communication:before { content: '\e814'; }
.icon-category-crypto:before { content: '\e82b'; }
.icon-search:before { content: '\f002'; }
.icon-category-scientific:before { content: '\f016'; }
.icon-category-binding:before { content: '\f097'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-menu:before { content: '\f0c9'; }
.icon-down-dir:before { content: '\f0d7'; }
.icon-up-dir:before { content: '\f0d8'; }
.icon-category-game:before { content: '\f11b'; }
.icon-code:before { content: '\f121'; }
.icon-bitbucket:before { content: '\f171'; }
.icon-category-3d:before { content: '\f1b2'; }
.icon-category-database:before { content: '\f1c0'; }
.icon-category-server:before { content: '\f233'; }
.icon-category-development:before { content: '\f275'; }
.icon-gitlab:before { content: '\f296'; }
