
span#search-query {
    width: 13em;
}

table {
    border: 0px;
}

#content th {
	border-right: 1px solid #98312A;
}

/* fixup weird dlang logo */
#top .logo {
	float: none;
	margin-right: 0;
	display: inline-block;
	margin-left: -15px;
	padding-right: 15px;
}

@media only screen and (max-width:54em) {
    #top .logo {
	    margin-left: 0;
        padding-right: 0px;
    }
}

#top img#logo {
	height: initial;
	width: initial;
}

/* no background highlight for the logo */
#top .logo > a:hover {
	background: inherit;
}
